<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Gpomp - Experiments - {{ template }}</title>

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,400,700,900' rel='stylesheet' type='text/css'>
	<!-- Concatinated styles generated from the global {LESS} files -->
	<link type="text/css" rel="stylesheet" href="../css/main.css">
	<!-- Concatinated styles generated from the local {LESS} files -->
	<link type="text/css" rel="stylesheet" href="css/main.css">

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

</head>
<body class="{{ template }}">

	<div id="exp-menu">
		<div class="menu-ctn">
			<div class="table">
				<div class="table-cell">
					<h2>All Experiments</h2>
					<ul>
						<li><a href="/sun/">Sun</a></li>
						<li><a href="/particles_swarm/">Music + Video - 1</a></li>
						<li><a href="/landscape/">Snowy Landscape</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="tip">
			<div class="table">
				<div class="table-cell">
					<a href="#">
						<div class="table">
							<div class="table-cell">
								<div class="symbol"></div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>