<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Gpomp - Experiments - {{ template }}</title>

	<meta name="description" content="Gauthier Pompougnac, freelance Frontend Developer Lab. Here you can find my last experimentations. Mostly in Webgl, Arduino, CSS, JS...">
	<meta name="keywords" content="gauthier pompougnac, website, programming, frontend, front-end, vancouver, webgl, css, html, {{ template }}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,400,700,900' rel='stylesheet' type='text/css'>
	<!-- Concatinated styles generated from the global {LESS} files -->
	<link type="text/css" rel="stylesheet" href="../css/main.css">
	<!-- Concatinated styles generated from the local {LESS} files -->
	<link type="text/css" rel="stylesheet" href="css/main.css">

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
	<script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-47410818-1']);
          _gaq.push(['_trackPageview']);

    </script>
</head>
<body class="{{ template }} {{ bodyClass }}">

	<div id="not-supported">
		<div class="supp-content">
			Oups! Sorry about that, but I didn't have time to work on a mobile/tablet version... I hope to fix that soon... Come back on your computer and on Chrome if you want the best experience! You can still check my 
			<a href="http://gpomp.com">portfolio</a>.
		</div>
	</div>
